
<VBox id="root"
      size="61%asp, match_parent"
      bindings="center"
      margin="50px" >

    <NinePatchView id="9path_image1"
                   bindings="center"
                   bias="0.5, 0.7"

                   image="ninepatch(internal:/button.9.png, 0.5%relh, 0.5%relh; #faad)"
                   size="match_parent, 10%rel" />

    <NinePatchView id="9path_image2"
                   image="ninepatch(internal:/button.9.png, 0.5%relh, 0.5%relh; #afad)"
                   size="match_parent, 10%rel" />

    <NinePatchView id="9path_image3"
                   image="ninepatch(internal:/button.9.png, 0.5%relh, 0.5%relh; #aafd)"
                   size="match_parent, 10%rel" />

    <NinePatchView id="9path_image4"
                   image="ninepatch(internal:/button.9.png, 0.5%relh, 0.5%relh; #fafd)"
                   size="match_parent, 10%rel" />

</VBox>